@use "./../../../style/breakpoints.scss" as *;

.comparison-section {
  position: relative;
  padding-block: 5rem 8rem;

  .comparison-left-button,
  .comparison-right-button {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 80%);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    z-index: 2;

    span {
      color: white;
    }

    .left-arrow {
      transform: rotate(-180deg);
    }
  }

  .comparison-left-button {
    left: 0;
  }

  .comparison-right-button {
    right: 0;
  }

  .comparison-outer-container {
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;

    .comparison-slide-container {
      display: flex;

      .comparison-project-container {
        scroll-snap-align: start;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        width: 100%;

        .comparison-images-container {
          width: 50%;

          .comparison-title {
            margin-bottom: 1.5rem;
          }

          .comparison-buttons-container {
            display: flex;
            gap: 0.8rem;
          }

          .review-image-container {
            cursor: zoom-in;

            .project-review-image {
              width: 100%;
              height: 329px;
              object-fit: cover;
              border-radius: 0.5rem;
            }
          }
        }

        .comparison-text-content {
          flex: 1;
          padding-top: clamp(4rem, 0.5957rem + 13.617vw, 8rem);
          display: flex;
          flex-direction: column;
          gap: 2rem;

          div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .comparison-section {
    padding-block: 4rem;
    .comparison-left-button,
    .comparison-right-button {
      transform: translate(0, 10%);
    }

    .comparison-left-button {
      left: 0.25rem;
    }
    .comparison-right-button {
      right: 0.25rem;
    }

    .comparison-outer-container {
      .comparison-slide-container {
        .comparison-project-container {
          flex-direction: column;
          gap: 2rem;

          .comparison-images-container {
            width: 100%;
          }

          .comparison-text-content {
            align-items: center;
            padding: 0;
            gap: 0.5rem;

            div {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}
